<?xml version="1.0" encoding="UTF-8"?>
<web-app id="WebApp_ID" version="3.0"
 xmlns="http://java.sun.com/xml/ns/javaee"
 xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
 <display-name>MessagingSystem</display-name>
 <context-param>
  <param-name>dbPassword</param-name>
  <param-value>MySQLzoranvasilic1!</param-value>
 </context-param>
 <context-param>
  <param-name>dbUrl</param-name>
  <param-value>jdbc:mysql://localhost/messagingsystem</param-value>
 </context-param>
 <context-param>
  <param-name>dbUser</param-name>
  <param-value>zoran</param-value>
 </context-param>
 <context-param>
 	<param-name>moveDir</param-name>
 	<param-value>C:\Users\zokiv\git\repository\MessagingSystem\MessagingSystem\WebContent\userImages</param-value>
 </context-param>
 <servlet>
 	<servlet-name>AccessViewStatusMessages</servlet-name>
 	<servlet-class>ch.qos.logback.access.ViewStatusMessagesServlet</servlet-class>
 </servlet>
 <servlet-mapping>
 	<servlet-name>AccessViewStatusMessages</servlet-name>
 	<url-pattern>/lbAccessStatus</url-pattern>
 </servlet-mapping>
 <welcome-file-list>
  <welcome-file>messagingApp.jsp</welcome-file>
 </welcome-file-list>
</web-app>
